doctype html
head 
  title MVC boilerplate
body
  h1 Mail sender
  if (message)
    p #{message}
  form(action="askForCookiesRecipe", method="post")
    input(type="text", name="subject", placeholder="Subject")
    br
    textarea(name="mail", cols="30", rows="10", placeholder="Write your email...")
    br
    input(type="submit", value="Send")